body{
  overflow-x: hidden;
}
.bg-light{
  background-color: rgb(237, 237, 237) !important;
}
.Picture{
  /* border-radius: 50%; */
  width: 70%;
  height:120%;
  border: 5px solid white;
  position: relative;
  z-index: 99999 !important;
}
.mainbody{
  background-color: #1d98ab;
}
.row{
  margin: 0px;
}

.name{
  font-size: 200%;
  color: white;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.degisnation{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: rgb(193, 191, 191);
font-size: 150%;
}
.info{
  width: 70%;
  margin-top: 5%;
  /* margin-bottom: 5%; */
}
.buttons{
  border-radius: 10px;
  border: 1px gray solid;
}
hr{
  width: 70%;
 
  
}
hr:not([size]) {
  height: 9px;
  color: #adbdce;
  
 
}
pre{
  color: gray;
  font-size: 120%;
  display: inline;
}
.card{
  width: 50%;
  margin-left: 23%;
  margin-bottom: 15px;
}
.leftSidePart{
  /* margin-right: 50%; */
  
  border-right: 1px gray solid;
}
.ButtomPartleftSidePart{
  background-color: #e2eaf3;
  padding-top: 5% !important;
}
.PicturesAddress{
  height: 20px;
  display: inline;
}
.address{
  margin-left: 2%;
  display: inline;
}
.add{
  margin: 5px;
}
.Eductions{
  text-align: left;
  margin: 10px;
}
.heading{
  background-color: white !important;

}
.headingrightsite{
  background-color: #e2eaf3;
  width: 70%;
}
.eduPlace{
  padding: 0px;
margin: 0px;
color: gray;
}
li::marker{
  text-align: center !important;
}
/* .skillist{
  margin-left: 42%;
  text-align: left;
} */
.grayColor{
  color: gray;
  padding: 0px;
  margin: 0px;
}
.jobrepos{
  margin-left: -3%;
}
.aDDreSS, .EductTIONS,.skillist{
  margin-left: 30% ;
}