.navbtn{
    border: 0px;
    background-color: rgb(0, 90, 186);
    color: white;
}
.navbar{
    background-color: rgb(0, 90, 186);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  padding: 0% !important;
 
}
a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
/* button{
    color: white !important;
} */
.navbar-title{
    color: white;
}
.navbarImage{
    width: 200px !important;
    height: 50px !important;
}