.App {
  text-align: center;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: rgb(225, 225, 225) !important;

  
}
.MuiFormHelperText-root {
  color: #f01414 !important;
}
a.active{
  color: rgb(255, 255, 255);
}
.navbar{
  background-color: rgb(0, 90, 186);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  
}
.outerDiv{
  /* border: 2px solid rgb(28, 5, 131); */
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: white;
 
  
}
.mainDiv{
  /* background: #B2FEFA;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  */
  /* background: linear-gradient(to right, #0ED2F7, #B2FEFA);  */
  background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #77a1ee);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #84a9ed); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
min-height: 93vh;

}
.field{
  width: 90%;
}
/* table{
  border: 1px solid gray;
} */

/* Loader */
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: '';
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {

  0%,
  80%,
  100% {
    opacity: .75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

/* BUTTON */
button {
  padding: 10px 25px;
  border-radius: 50px;
  border: 0;
  background-color: rgb(50, 179, 205);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
 }
 
 button:active {
  letter-spacing: 3px;
  background-color: rgb(0, 90, 186);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }


/* LOGOUT */
.logout,.profile{
  background: none !important;
  text-decoration: none !important;
  color: white;
  padding: 5px 15px;
}
.logout:hover,.profile:hover{
  background: none !important;
}